body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.3em;
}

input {
  font-size: 1.5em;
}

ul {
  padding-left: 20px;
}


.error_update_message {
  display: none;
}

#email-taken {
  display: none;
  color: red;
}

#email-taken.active {
  display: block;
}

.error_update_message.active {
  display: block;
}

.show-link {
  color: #0f587c;
  text-decoration: none;
  margin-right: auto;
  display: inline-block;
}

.edit-button, i {
  float: right;
  margin-right: 10px;
}

.show-link:hover{
  color: #2caae9;
}
table {
  margin-top: 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}
